@import '../../styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $greyColor;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: $whiteColor;
    padding: 0 15px;
}

.title {
    color: $whiteColor;
    text-align: center;
    padding: 0 5px;
}

.img {
    width: 100%;
    aspect-ratio: 1 / 1;
}