$whiteColor: #FFFFFF;
$lightGreyColor: #504B4A;
$greyColor: #413e3d;
$darkGreyColor: rgba(255, 255, 255, 0.1);
$greyGradient: linear-gradient(90deg, #494544 0%, #504B4A 100%);
$greyBorder: 1px solid rgba(255, 255, 255, 0.1);
$focusOutline: 2px solid #9b9694;
$greenColor: #699a71;
$greenGradient: linear-gradient(114.93deg, #699a71 5.11%, #72A479 94%);
$redColor: #ca4f4f;